body {
  text-align: center;
  background-color: #000000;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #ebebeb;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #ff0f3f;
}

.green {
  background-color: #1ac903;
}

.blue {
  background-color: #332FD0;
}

.yellow {
  background-color: #ffd000;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
